html {
  scroll-behavior: smooth;
}
.container-with-ripple {
  position: relative;
  width: 100%;
  height: 600px; /* Set height based on your content */
  background: #1a2e49;
  overflow: hidden;
}

.ripple-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Stays behind content inside container */
  pointer-events: none; /* Allows clicks to pass through */
  color: white;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

/* Layering via z-index */
.shade1 {
  opacity: 0.1;
  z-index: 1;
}
.shade2 {
  opacity: 0.3;
  z-index: 2;
}
.shade3 {
  opacity: 0.5;
  z-index: 3;
}
.shade4 {
  opacity: 0.7;
  z-index: 4;
}
.shade5 {
  opacity: 0.9;
  z-index: 5;
}

.small {
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium {
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large {
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge {
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge {
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.8);
  }
}
.logo {
  height: 90px;
  width: auto;
}
.logo_c {
  height: 35px;
  width: auto;
}
.lead {
  color: rgb(0, 0, 0);
}

.hero-section {
  color: rgb(255, 255, 255);
}

.title_flex {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 30px;
}

.placeholder-icon {
  visibility: hidden; /* space kept, icon invisible */
}
.nav-link {
  color: #406eab;
}

p {
  font-size: medium;
  padding-top: 20px;
}
.col{
  margin-top: 50px;
}
h3,h5{
  color: #406eab;
}




.container {
  text-align: left;
 
}
#name_card {
  background-color: black;
  padding: 30px;
  border-radius: 20px;
  opacity: 0.6;
  color: white;
}
#mockup-wrapper {
  position: relative;
 
  height: 400px;          /* height of the visible div */
  overflow: hidden;       /* hides excess image */
}

#mockup {
  width: 400px;           /* make image larger */
  height: auto;
  position: absolute;
  bottom: -30%;           /* push image down so only ~10% shows */
  left: 60%;
  transform: translateX(-50%);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating {
  animation: float 3s ease-in-out infinite;
}

#About{
  background: #a1b9cf;
background: linear-gradient(133deg, rgba(161, 185, 207, 1) 0%, rgba(64, 110, 171, 1) 18%, rgba(21, 48, 61, 1) 51%);
  color: white;
}

#pro2{
  background-color:#406eab;}
#pro3{
  background-color:#1a2e49;}
.project_card{
  margin-top: 50px;

}

